.input-group {
	padding: 25px 0 25px 0;
}

nav {
	margin-bottom: 100px;
}

span {
	margin-left: 10px;
}

#samtals-hjälp {
	padding-left: 10px;
}

.statistik-group {
	padding-top: 20px;
	color: #333;
	width: 100%;
	text-align: center;
}

.badge {
	transition: all .2s ease-in-out;
}

table {
	padding-top: 10px;
}

button {
	right: 0;
	padding-bottom: 20px;
}

.container {
	margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
	* {
		font-size: 35px;
	}
	.kategoriText {
		font-size: 20px;
		display: inline-block;
	}
	.badge {
		font-size: 40px;
	}
}
